<p><h1>Select Movie</h1>
<div class="col-md-12">
    <%= link_to("New movie", new_movie_path, class: "btn btn-primary ") %>
  <p>
  <hr>

    <div class="row">
      <% @movies.each do |movie|%>
      <div class="img">
        <%= link_to movie_path(movie) do %>
        <% if movie.title.present? %>
        <%= image_tag(root_url + "images/"+movie.title+".jpg", :alt => movie.title)%>
        <% else %>
        <%= image_tag(root_url + "images/No-image-available.jpg", :alt => "No-image-available")%>
        <% end %>
      <% end %>
      </div>
        <% end %>
      </div>
