h1{
  text-align: center;
}

img{
  height:352px ;
  width:300px ;
}

.img-backgroud {

    height:500px;
}

div.img
  {
  position: relative;

  margin:30px 70px 70px 70px;
  height:352px;
  width:20%;
  float:left;
  text-align:center;
  }

div.img img{
    display:inline;
    margin:20px;
    border:1px solid #bebebe;
}

div.desc{
  text-align: center;
}
