video{
  height: 200px;
  margin: 10px auto;
  width: 50%;
}

h1{
  text-align: center;
}

img{
  height:352px ;
  width:300px ;
  clear:both;
}

.row{
  margin: auto 15px 15px 15px;
}

.img-backgroud {
    background-color: white;
    height:500px;
}

div.img
  {
  position: relative;

  margin:30px 70px 70px 70px;
  height:352px;
  width:20%;
  float:left;
  text-align:center;
  }

.col-md-6 {
      width: 40%;
  }

.table {
      width: 100%;
      max-width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
}
